@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

.tinos-regular {
    font-family: "Tinos", serif;
    font-weight: 400;
    font-style: normal;
  }
  .tinos-bold {
    font-family: "Tinos", serif;
    font-weight: 700;
    font-style: normal;
  }
  .tinos-regular-italic {
    font-family: "Tinos", serif;
    font-weight: 400;
    font-style: italic;
  }
  .tinos-bold-italic {
    font-family: "Tinos", serif;
    font-weight: 700;
    font-style: italic;
  }

  /* // <uniquifier>: Use a unique and descriptive class name
  // <weight>: Use a value from 100 to 1000 */
  
.roboto-flex {
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "slnt" 0,
      "wdth" 100,
      "GRAD" 0,
      "XOPQ" 96,
      "XTRA" 468,
      "YOPQ" 79,
      "YTAS" 750,
      "YTDE" -203,
      "YTFI" 738,
      "YTLC" 514,
      "YTUC" 712;
}

body {
    /* background-color: rgba(240, 248, 255, 0.484); */
    /* font-family: "Tinos", serif; */
    font-family: "Roboto Flex", sans-serif;
}


* {
    padding: 0;
    margin: 0;
}

.seperator {
    width: 100%;
    height: 1px;
    border-bottom: 1px black solid;
}

#nav_bar {
    width: 100%;
    height: 10vh;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* border: 1px black solid; */
    background-color: rgba(255, 255, 255, 0.658);
    opacity: 1;
    z-index: 2;
}

.nav_bar {
    display: flex;
    align-items: center;
    height: 10vh;
    padding: 0 1rem;
}

#menu_icon {
    width: 60px;
    height: auto;
}

#menu_icon:hover {
    cursor: pointer;
}

.hero_container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* border: 1px red solid; */
}

.logo_container {
    /* border: 5px green dotted; */
    width: auto;
    height: 100vh; /* changes to 10vh in script */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    
}

#kankei_logo {
    filter: invert(100%);
    height: 300px;
    width: 300px;
    position: fixed;
    
}

.hero_text_picture {
    display: none; /* starts off as none and is changed to flex when intro animation completes in js */
    width: 100%;
    height: 90vh;
    padding: 2rem;
    flex-direction: column;
    /* border: 1px blue solid; */
}

/* .hero_text {
    border: 1px blue solid;
    align-items: center;
    justify-content: flex-start;
} */

.hero_text h1, .hero_text p {
    /* font-family: "Tinos", serif; */
    word-spacing: 0.1rem;
    letter-spacing: 0.5rem;
     
}

.hero_text h1 {
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    border-bottom: 1px black solid;
}

.hero_text p {
    text-align: center;
    line-height: 1.5rem;
    /* margin-bottom: 10rem; */
    
}

.hero_text, .hero_picture {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* padding: 0 3rem; */
    /* border: 1px red solid; */
}

#hero_pic {
    margin-top: 2rem;
    width: 550px;
    height: auto;
    border-radius: 10px;
}

#about_services {
    width: 100%;
    height: auto;
    /* border: 1px red solid; */
}

.main_services_title {
    width: 100%;
    font-size: 3rem;
    word-spacing: 0.1rem;
    letter-spacing: 0.5rem;
    margin-top: 2rem;
    text-align: center;
    border-bottom: 1px black solid;
    border-top: 1px black solid;
    background-color: rgba(255, 255, 255, 0.658);
    opacity: 1;
    z-index: 1;
    position: relative;
}

.services_title h3 {
    font-family: "Roboto Flex", sans-serif;
    font-size: 6rem;
    font-weight: 400;
    text-align: left;
    margin-bottom: 1rem;
    word-spacing: 0.1rem;
    letter-spacing: 0.5rem;
}

.services_item {
    width: 100%;
    height: auto; /* adjusting height of the sections */
    display: flex;
    border-bottom: 0.1px black solid;
    border-top: 0.1px black solid;
    padding: 1rem 0;
    /* opacity: 0.2;
    transform: translateY(50px); */
    /* border: 2px blue solid; */
}

.services_info {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0.5rem 2rem;
    /* border: 2px green solid; */
}

.services_text {
    /* border: 1px blue dotted; */
    display: flex;
    height: 100%;
    align-items: flex-end;
    padding-bottom: 1rem;
}

.services_text p {
    width: 50%;
}

.services_text span, .services_text p {
    font-size: 1rem;
    font-weight: 300;
    word-spacing: 0.05rem;
    letter-spacing: 0.05rem;
}

/* .services_text_one {
    text-align: left;
    word-spacing: 0.3rem;
    letter-spacing: 0.1rem;
} */

.services_text_two {
    padding-left: 8rem;
}

.services_image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

#consulting_image {
    width: 500px;
    height: auto;
    border-radius: 10px;
}

.background_color_one {
    background-color: rgba(46, 116, 58, 0.100);
}
.background_color_two {
    background-color: rgba(31, 81, 61, 0.125);
}
.background_color_three {
    background-color: rgba(31, 67, 81, 0.150);
}
.background_color_four {
    background-color: rgba(31, 34, 81, 0.175);
}

.vh {
    height: 200vh;
}

#about_us_section {
    width: 100%;
    height: auto;
    /* border: 1px red solid; */
}

.about_us_text_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
}

.about_us_title {
    font-size: 3rem;
    word-spacing: 0.1rem;
    letter-spacing: 0.5rem;
    text-align: center;
    padding: 2rem 0;
}

.about_us_text {
    width: 50%;
    text-align: center;
    font-size: 2rem;
    word-spacing: 0.05rem;
    letter-spacing: 0.2rem;
}

.about_us_image_container {
    position: relative;
    height: 1200px;
    overflow: hidden;
    /* border: 2px green solid; */
}

.about_us_image {
    position: absolute;
    object-fit: cover;
    filter: grayscale(100%);
}

.about_image1 {
    width: 22%;
    top: 20%;
    left: 5%;
}
.about_image2 {
    width: 26%;
    top: 20%;
    left: 83%;
}
.about_image3 {
    width: 16%;
    top: 40%;
    left: 65%;
}
.about_image4 {
    width: 20%;
    top: 50%;
    left: 10%;
}
.about_image5 {
    width: 15%;
    top: 80%;
    left: 75%;
}
